@import "../../../styles/mixins/index.scss";

.images-block {
   max-width: 750px;
   min-height: 750px;
   width: 100%;
   position: relative;
   @include tablet-lg {
      margin: auto;
   }
   @include ipad {
      min-height: 500px;
      max-width: 500px;
   }
   @include mobile {
      min-height: 420px;
      max-width: 460px;
   }
   @include mobile-sm {
      min-height: 392px;
   }
   img {
      border-radius: 50%;
      max-width: 90%;
      position: absolute;
      transition: transform 0.9s ease-in-out;
      cursor: pointer;
      &:hover,
      &:active {
         transform: scale(0.85) rotate(360deg);
      }
      @include ipad {
         transform: scale(0.65);
         &:hover,
         &:active {
            transform: scale(0.65) rotate(360deg);
         }
      }
      @include mobile {
         transform: scale(0.45);
         &:hover,
         &:active {
            transform: scale(0.45) rotate(360deg);
         }
      }
      @include mobile-sm {
         max-width: 53%;
      }
      &:nth-child(1) {
         width: 55%;
         margin: auto;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         @include mobile-sm {
            transform: scale(0.65);
         }
      }
      &:nth-child(2) {
         right: 0;
         top: 43%;
         @include mobile-sm {
            display: none;
         }
      }
      &:nth-child(3) {
         right: 0;
         bottom: 3%;
         @include mobile-sm {
            bottom: 0;
         }
      }
      &:nth-child(4) {
         left: 31%;
         bottom: 0px;
         @include mobile-sm {
            display: none;
         }
      }
      &:nth-child(5) {
         left: 0;
         bottom: 13%;
         @include mobile-sm {
            bottom: 0;
         }
      }
      &:nth-child(6) {
         left: 0;
         top: 35%;
         @include mobile {
            display: none;
         }
      }
      &:nth-child(7) {
         left: 5%;
         top: 2%;
         @include mobile-sm {
            left: 0;
            top: 0;
         }
      }
      &:nth-child(8) {
         top: 0;
         left: 45%;
         @include mobile-sm {
            display: none;
         }
      }
      &:nth-child(9) {
         top: 5%;
         right: 0px;
         @include mobile-sm {
            top: 0;
         }
      }
   }
}
