.images-block {
   width: 750px;
   min-height: 750px;
   position: relative;
   img {
      border-radius: 50%;
      max-width: 90%;
      position: absolute;
      &:nth-child(1) {
         width: 55%;
         margin: auto;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
      }
      &:nth-child(2) {
         right: 0;
         top: 320px;
      }
      &:nth-child(3) {
         right: 0;
         bottom: 20px;
      }
      &:nth-child(4) {
         left: 230px;
         bottom: 0px;
      }
      &:nth-child(5) {
         left: 0;
         bottom: 100px;
      }
      &:nth-child(6) {
         left: 0;
         top: 260px;
      }
      &:nth-child(7) {
         left: 40px;
         top: 10px;
      }
      &:nth-child(8) {
         top: 0;
         left: 340px;
      }
      &:nth-child(9) {
         top: 40px;
         right: 0px;
      }
   }
}
