@import "../../../styles/mixins/index.scss";

.first-section {
    background-color: var(--mk-main);
    background-repeat: no-repeat;
    background-image: url("../../../images/characters.png"), url("../../../images/pink-bg.svg");
    background-size: contain, cover;
    background-position: center bottom;
    color: var(--mk-white);
    position: relative;
    &__title {
        font-size: 36px;
        font-weight: 700;
        max-width: 725px;
        @include tablet-lg {
            font-size: 26px;
        }
    }
}
