@import "../../../styles/mixins/index.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
    gap: 15px;
    @include tablet-lg {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    @include mobile {
        flex-direction: column;
    }
    &__logo {
        max-width: 220px;
    }
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 38px;
    padding-left: 0;
    @include laptop-xs {
        gap: 20px;
    }
    @include mobile {
        flex-direction: column;
    }
    &__link {
        text-decoration: none;
        color: var(--mk-white);
        font-weight: 700;
        text-transform: uppercase;
    }
}
