.counter {
    display: flex;
    align-items: center;
    border: var(--mk-input-border);
    box-shadow: var(--mk-input-shadow);
    max-width: 189px;
    border-radius: 10px;
    padding: 7px 15px;
    box-sizing: border-box;
    &__input {
        background: none;
        border: none;
        color: var(--mk-white);
        font-size: 36px;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }
    &__btn {
        background: none;
        color: var(--mk-white);
        border: none;
        cursor: pointer;
        font-size: 18px;
    }
}
