@import "../../../styles/mixins/index.scss";

.minting {
    color: var(--mk-white);
    min-width: 300px;
    @include mobile {
        min-width: auto;
        width: 100%;
        text-align: center;
        min-width: auto;
    }
    &__counter {
        margin-bottom: 58px;
        max-width: 189px;
        @include mobile {
            max-width: initial;
        }
    }
    &__total {
        max-width: 189px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 14px;
        @include mobile {
            max-width: initial;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 58px;
    }
}
