@import "../../../styles/mixins/index.scss";

.timer {
    padding: calc(100vh - 300px) 0 38px;
    @include ipad {
        padding: 155px 0 38px;
    }
    @include mobile {
        padding: 5px 0 200px;
        text-align: center;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__item {
        text-align: center;
        min-width: 62px;
    }
    &__value {
        font-size: 36px;
        font-weight: 700;
        @include mobile {
            font-size: 28px;
        }
        &_type {
            margin-bottom: 0;
        }
    }
}

.time-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    @include mobile {
        gap: 20px;
        justify-content: center;
    }
}
